@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Roboto;
  background: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
  height: 100vh;
  background-image: url(/assets/bg-weather.svg);
  background-repeat: no-repeat;
  background-size:cover;
}

input{
  width: 200px;
  height: 40px;
  color: white;
  font-size: 12px;
  font-family: Roboto;
  font-weight: 400;
  word-wrap: break-word;
  outline: none;
  border: none;
  padding-left: 20px;
  background: transparent;
  border-bottom: 1px solid white;
}



.inp{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}


.flex{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  left: 10px;
}

 .paragraphimg{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
} 

.main{
  padding: 50px 45px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 400px;
   background: rgba(255, 255, 255, 0.04); 
  border-top: 5px rgba(255, 255, 255, 0.14) solid; 
  backdrop-filter: blur(8px);
}

h1{
  color: rgba(255, 255, 255, 0.70);
  font-size: 14px;
  font-weight: 400;
  word-wrap: break-word;
}

p{
  color: white;
  font-size: 14px;
  font-weight: 400;
  word-wrap: break-word
}

.loop{
  position: absolute;
  right:30px;
  top: 35px;
  cursor: pointer;
  z-index: 3;
}

.mainflex{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 70px;
  margin-bottom: 45px;
}

h2{
  color: white;
  font-size: 55px;
  font-family: Roboto;
  font-weight: 400;
  word-wrap: break-word;
}

h3{
  color: white;
  font-size: 30px;
  font-family: Roboto;
  font-weight: 400;
  word-wrap: break-word;
}

.cloud{
  width: 50px;
}
button{
  background-color: transparent;
  cursor: pointer;
}

.border{
    width: 100%; 
    height: 100%;
    background: rgba(255, 255, 255, 0.04); 
    border-top: 5px rgba(255, 255, 255, 0.14) solid;
    backdrop-filter: blur(19px)
}


.title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -10px;
  gap: 20px;
  margin-bottom: 20px;
}

h5{
  color: white;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 400;
  word-wrap: break-word;
}
h6{
  color: white;
  font-size: 12px;
  font-family: Roboto;
  font-weight: 500;
  text-transform: uppercase;
  word-wrap: break-word;
}

.border2{
  width: 80%;
  height: 100%;
  border-bottom: 1px white solid;
  margin: 0 auto;
}



.telavi{
  position: absolute;
  top: 205px;
  display: flex;
  gap: 10px;
}

.humidity{
  position: relative;
  left: -6px;
}

.cloudy{
  position: relative;
  left: -9px;
}
.windy{
  position: relative;
  left: -6px;
}

@media(width >= 768px){
  body{
    background-image: url('/assets/bg-weather (1).svg');
  }
  h1{
    font-size: 16px;
  }
  p{
    font-size: 16px;
  }
  h2{
    font-size: 65px;
  }
  h3{
    font-size: 35px;
  }
  h5{
    font-size: 16px;
  }
  h6{
    font-size: 18px;
  }

  .telavi{
    top: 205px;
  }

  .main{
    position: absolute;
    bottom: 0;
  }

}

@media (width >= 1440px){
  body{
    background-image: url('/assets/bg-weather (2).svg');
  }

  .main{
    width: 526px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
  }

  .border{
    display: none;
  }

  input{
    z-index: 2;
  }
  .headerimg{
    width: 90px;
    margin-left: 137px;
    margin-top: 37px;
  }

  input{
    margin-right: 130px;
    margin-top: 37px;
    width: 340px;
    font-size: 20px;
  }
  .loop{
    right: 160px;
    top: 60px;
    width: 25px;
  }

  .title{
    position: relative;
    top: 100px;
    left: -65px;
    text-align: left;
    margin-bottom: 150px;
  }

  .flex{
    position: relative;
    left: -55px;
    gap: 80px;
    padding:8px;
  }
  .border2{
    position: relative;
    left: -55px;
    top: -55px;
    width: 325px;
  }

  .mainflex{
    position: absolute;
    top: 320px;
    left: 150px;
  }
  h2{
    font-size: 90px;
  }

  h3{
    font-size: 50px;
    position: relative;
    top: -100px;
  }

  h5{
    position: relative;
    right: 90px;
    top: -10px;
    font-size: 18px;
  }
}